.about {
    a {
        text-decoration: underline;
    }
    p {
        padding-bottom: 0.75em;
    }
    header {
        color: $red;
        .header-avatar {
            display: inline-block;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 4px solid #fff;
        }
        .header-description {
          font-size: 1.5em;
        }
    }
    .about-section-title {
        color: $red;
        font-weight: 700;
    }
    .about-section {
        margin-top: 2em;
        margin-bottom: 2em;
        .row {
            margin-bottom: 1em;
        }
        .bio-date {
            color: $lightblue;
        }
        .text-right {
            @media(max-width: 768px) {
                text-align: left;
            }
        }
    }
}
