.about {
    a {
        text-decoration: underline;
    }
    p {
        padding-bottom: 15px;
    }
    header {
        color: $red;
        .header-avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 4px solid #fff;
        }
    }
    .about-section-title {
        color: $red;
        font-weight: 700;
    }
    .about-section {
        margin-top: 40px;
        margin-bottom: 40px;
        .row {
            margin-bottom: 20px;
        }
        .bio-date {
            color: $lightblue;
        }
        .text-right {
            @media(max-width: 768px) {
                text-align: left;
            }
        }
    }
}
