.blog {
    margin-top: 80px;
    .home-template & {
        margin-top: 100px;
    }
    @media(max-width: 768px) {
        margin-top: 50px;
    }
    .newer-posts {
        float: left;
        font-size: 0.8em;
        @media(max-width: 768px) {
            display: block;
            float: none;
            margin-bottom: 20px;
        }
    }
    .older-posts {
        float: right;
        font-size: 0.8em;
        @media(max-width: 768px) {
            display: block;
            float: none;
            margin-top: 20px;
        }
    }
    .separator {
        height: 2px;
        background: #4d71b7;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        display: block;
        background: linear-gradient(to right, #e52f45 0%, #e52f45 25%, #b42b3e 25%, #b42b3e 50%, #8ab2ff 50%, #8ab2ff 75%, #4d71b7 75%, #4d71b7 100%);
    }

    .post {
        .post-title {
            color: $red;
            font-size: 2.6em;
            font-weight: 700;
            margin-bottom: 2 * $vpadding;
            @media(max-width: 768px) {
                text-align: left;
            }
        }
    }
    .posts {
        .post-title {
            font-size: 1.5em;
            font-weight: 700;
            margin-bottom: 2 * $vpadding;
            color: $lightblue;
            margin-bottom: 5px;
            @media(max-width: 768px) {
                text-align: left;
            }
        }
        .post {
            margin-bottom: 40px;
            color: rgba(255, 255, 255, 0.8);
        }
        time {
            color: rgba(255, 255, 255, 0.5);
        }
        .post-excerpt {
            margin-top: 20px;
        }
        .post-meta .tags {
            color: rgba(255, 255, 255, 0.5);
        }
    }
    article.main-post {
        margin-top: 50px;
        color: rgba(255, 255, 255, 0.8);
        img {
            max-width: 100%;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $lightblue;
        }
        blockquote {
            color: rgba(255, 255, 255, 0.5);
            border-left-color: $purple;
        }
        p {
            padding-bottom: 20px;
        }
        .post-footer {
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 1.2em;
            .share-buttons {
                li {
                    @media (max-width: 768px) {
                        display: block;
                        line-height: 40px;
                    }
                }
            }
            .share-twitter {
                color: #00aced;
                @media (max-width: 768px) {
                    background-color: #00aced;
                    color: #fff;
                    padding: 5px;
                    width: 100%;
                    display: block;
                }
            }
            .share-reddit {
                color: #ff5700;
                @media (max-width: 768px) {
                    background-color: #ff5700;
                    color: #fff;
                    padding: 5px;
                    width: 100%;
                    display: block;
                }
            }
            .share-facebook {
                color: #3b5998;
                @media (max-width: 768px) {
                    background-color: #3b5998;
                    color: #fff;
                    padding: 5px;
                    width: 100%;
                    display: block;
                }
            }
            .share-google-plus {
                color: #dd4b39;
                @media (max-width: 768px) {
                    background-color: #dd4b39;
                    color: #fff;
                    padding: 5px;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .post-meta {
        .author-avatar img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-top: -20px;
            border: 3px solid white;
        }
        .tags {
            @media (max-width: 991px) {
                text-align: left;
            }
        }
        .tags li {
            font-size: 0.8em;
            margin: 5px 5px;
            border: 2px solid $lightblue;
            text-align: center;
            border-radius: 100px / 100px;
            a {
                color: $lightblue;
                display: block;
                width: auto;
                height: 30px;
                line-height: 27px;
                padding: 2px 20px;
            }
            a:hover,
            a:active {
                text-decoration: none;
            }
            &:hover {
                background: $lightblue;
                a {
                    color: $darkpurple;
                }
            }
            &.draft-tag {
                border-color: $red;
                a {
                    color: $red;
                }
                &:hover {
                    background: $red;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

.tags-collection {
    .tag-title {
        color: $red;
    }
    .tag-meta {
        margin-bottom: 50px;
    }
}

code {
    background: #2d2d2d;
    color: #FF9619;
    border-radius: 4px;
}

.blog-section {
    margin-top: 50px;

    .header {
        margin-bottom: 25px;
    }

    .text-right {
        @media(max-width: $desktop-width) {
            text-align: left;
        }
    }
}

.navigate-link:active,
.navigate-link:focus,
.navigate-link {
    font-size: 22px;
    font-weight: bold;
    color: #8ab2ff;
    margin-bottom: 5px;
}

.navigate-desc {
    margin-top: $vpadding;
}

.drafts-description {
    margin-bottom: $vpadding * 2;
}

.blog-header {
    display: block;
    margin-bottom: $vpadding * 4;
}

.blog-header__link {
    font-size: 1.5em;
    height: auto;
    padding: 10px 15px;
    float: left;

    @media(max-width: 1200px) {
        height: 150px;
    }
    @media(max-width: 768px) {
        float: none;
    }
}

.blog-header__img {
    width: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-right: 25px;
    @media(max-width: 768px) {
        margin: 0 auto;
    }
}

.anchor {
    color: white;
    fill: currentColor;
}
