.blog {
    @media(max-width: 768px) {
        margin-top: 2.5em;
    }
    article.main-post {
        margin-top: 2.5em;
        color: rgba(255, 255, 255, 0.8);
        img {
            max-width: 100%;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $lightblue;
        }
        blockquote {
            color: rgba(255, 255, 255, 0.5);
            border-left-color: $purple;
        }
        p {
            padding-bottom: 1em;
        }
    }
}

code {
    background: #2d2d2d;
    color: #FF9619;
    border-radius: 4px;
}

.drafts-description {
    margin-bottom: $vpadding * 2;
}


.anchor {
    color: white;
    fill: currentColor;
}
