@charset "UTF-8";
@import "~prismjs/themes/prism-solarizedlight.css";

$bootstrap-sass-asset-helper: true;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$font-size-base: 16px;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";

/* Override Bootstrap Grid naming */

@import "grid";
@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

/**
* FONTS
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Slab:300,400,700');
@import "entypo";
@import "mixins";
@import "main";
@import "header";
@import "footer";
@import "blog";
@import "about";
