.navbar-default {
    background: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $red;
}

.navbar-header {
    color: #fff;
    @media(max-width: 768px) {
        text-align: center;
    }
    h1 {
        font-size: 1.8em;
    }
    p {
        font-size: 0.9em;
        max-width: 750px;
        line-height: 1.4em;
        @media(max-width: 1024px) {
            max-width: 500px;
        }
        @media(max-width: 768px) {
            padding: 0 30px;
            max-width: 100%;
        }
    }
    .header-logo {
        @media(max-width: 1200px) {
            height: 150px;
        }
        @media(max-width: 768px) {
            float: none;
        }
        img {
            width: 100px;
            border-radius: 50%;
            border: 4px solid #fff;
            margin-right: 25px;
            @media(max-width: 768px) {
                margin: 0 auto;
            }
        }
    }
}

.navbar-brand {
    font-size: 1.5em;
    height: auto;
    padding: 10px 15px;
}

.navbar {
    border: none;
    margin-bottom: 0;
}

.nav > li > a {
    @media(max-width: 768px) {
        padding: 10px 30px;
        text-align: right;
    }
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #8ab2ff;
    line-height: 120px;
    font-size: 0.9em;
    font-weight: bold;
    font-weight: 700;
    @media(max-width: 768px) {
        line-height: 40px;
    }
}

.navbar-collapse {
    overflow: hidden;
}

.navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $lightblue;
}
